.us{
    font-size: clamp(3.5rem,7vw,5rem);
    color: #fff;
    font-weight: 800;
    text-shadow: 2px 2px 4px #000;
    margin: 0px 5px;
}

.us{
    position: sticky;
    top: -160px;
    z-index: -1;
}

.us {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 60vh; 
    
}


.page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-top: 0;
    background-color: #000000e5;
    color: #fff;
    min-height: 40vh;
}

.content {
    padding-top: 2rem;
    overflow-Y: scroll;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: clamp(75vw,1800px,75vw);
    text-align: center;
}
.content::-webkit-scrollbar{
    display: none;
}

.content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.para_about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
}

.content h3 span {
    background: linear-gradient(to right, #ff0a06, #feb47b); /* Define your gradient colors here */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h3 h5{
    background: linear-gradient(to right, #fadede, #77ff07); /* Define your gradient colors here */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about div {
        font-size: 3rem;
    }
    
    .content h3 {
        font-size: 1.75rem;
    }

    .content p {
        font-size: 1rem;
    }
}
